<!-- resetPassword.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"> 
</head>
<body>
  <h1>Password Reset</h1>
  <div class="top-message">
      <p>Passowrd Reset Link has been sent.</p>
      <p>Please check your Email for the reset link</p>
  </div>
<!-- 
  <form method="GET" action="/">
    <div class="confirm-button">
      <input type="submit" value="Reset Confirm">
    </div>
  </form> -->
  <div class="bottom-message">
      <p>Go back to <a href="/login">login</a></p>
  </div>
</body>
</html>
