
/* Global styles  for dashboar*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 250, 250);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* dashboard styles */
  .dashboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .menu-button {
    background-color:inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    
  }
  
  .menu-bar {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out; /* transition property */
  }
  
  .menu-button.open .menu-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); /* Rotate and translate first line */
  }
  
  .menu-button.open .menu-bar:nth-child(2) {
    transform: scaleX(0); /* Hide second line */
  }
  
  .menu-button.open .menu-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /* Rotate and translate third line */
  }
  
  
  .dashboard-menu {
    display: none;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .dashboard-menu.show {
    display: flex; /* Show the menu when  */
    align-items: center;
    justify-content: space-evenly;
  }
  
  .dashboard-menu-item {
    padding: 10px 20px;
    background-color: #0c0c0c;

    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  .dashboard-menu-item:hover {
    background-color: white;
    color: black;
  }
  .dashboard-menu-item a{
    text-decoration: none;
    color:inherit;
  }
  
  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .dashboard-card {
    padding: 20px;
    background-color: #83a2a3;
    border-radius: 4px;
  }
  
  .dashboard-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .dashboard-card-content {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .bottom-paragraph{
    position: relative;
    height: 200px;
    
  }
  .bottom-paragraph p{
    color: #666; 
  font-size: 14px; 
  position: absolute;
  bottom: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  }