<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Setting</title>
</head>
<body>
    <body>
        <div class="navigation">
          <ul>
            <li><a href="/">Go Home</a></li>
            <li><a href="/change-password">Change Password</a></li>
            <li><a href="/change-name">Change Name</a></li>
            <li><a href="/delete-account">Delete Account</a></li>
          </ul>
        </div>


    <h1>Change Password</h1>
    <form action="/change-password" method="POST">
      <div>
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
      </div>
      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <div>
        <button type="submit">Change</button>
      </div>
    </form>
  </div>
      </body>
</body>
</html>


