<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Setting</title>
    <link rel="stylesheet" href="/css/account-setting.css">

</head>
<body>
    <body>
        <div class="navigation">
          <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/change-password">Change Password</a></li>
            <li><a href="/change-name">Change Name</a></li>
            <li><a href="/delete-account">Delete Account</a></li>
          </ul>
        </div>


    <h1>Change Password</h1>
    <form action="/change-password" method="POST">
      <div>
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
      </div>
      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <div>
        <button type="submit">Change</button>
      </div>
    </form>
  </div>
      </body>
</body>
</html>


 -->

<!-- change-password.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <link rel="stylesheet" href="/css/account-setting.css">
</head>
<body>
  <div class="navigation">
    <!-- Navigation bar content -->
    <ul>
      <li><a href="/dashboard">↩ Dashboard</a></li>
      <li><a href="/accountSetting" class="active-nav">Change Password</a></li>
      <li><a href="/accountSetting/change-name">Change Name</a></li>
      <li><a href="/accountSetting/delete-account">Delete Account</a></li>
    </ul>
  </div>

  <div class="content">
    <!-- Change Password form -->
    <h1>Change Password</h1>
    <form class="change-password-form" action="/change-password" method="POST">
      <div>
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
      </div>
      <div>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      <div>
        <button type="submit">Change</button>
      </div>
    </form>
  </div>
</body>
</html>
