<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <h1>Welcome to the Home Page!</h1>
  <p>This is the content of the home page.</p>

  <div class="login-link">
    <a href="/login">Login</a>
  </div>
</body>
</html>
